{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %} {{ title }} {% else %} {{ KeySee }} {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KeySee</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user_page', id=current_user.id) }}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div><!--/.container-fluid -->
      </nav>

{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script id="accountTemplate" type="text/x-jQuery-tmpl">
      <li class="list-group-item">
          ${account} - <button data-id=${id} class="test" onclick="DeleteAccounts(this)">del</button>
      </li>
    </script>

    <script id="keysTemplate">
      <li class="list-group-item">
          ${regex} - <button data-id=${id} class="test" onclick="DeleteKeys(this)">del</button>
      </li>
    </script>

    <script id="tweetsTemplate">
      <li class="list-group-item">${content} <a href='${url}'>Twitter</a></li>
    </script>

<!--    <script id="LoaderTemplate">-->
<!--      -->
<!--    </script>-->

   {% if not current_user.is_anonymous %}
   <script>
   $(document).ready(function() {
       $('#butt').click(function() {
           $( "#tweetsList" ).empty();
           $( "#loader" ).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
           $.ajax({
               url: '/process',
               type: 'GET'
           }).done(function(res) {
               var tweetsObj = JSON.parse(res);
               if(tweetsObj.length == 0) {
                   alert('Found nothing');
               }else {
                   $( "#tweetsTemplate" ).tmpl(tweetsObj).appendTo( "#tweetsList" );
               }
               $( "#loader" ).hide();
           });
       });
   });


   function GetBlogs() {
       $.ajax({
           url: '/get_accounts',
           type: 'GET',
           success: function(res) {
               var accountObj = JSON.parse(res);
               $( "#accountList" ).empty();
               $('#accountTemplate').tmpl(accountObj).appendTo( "#accountList" );
           }
       });
   }


   $(document).ready(function() {
       $.ajax({
           url: '/get_accounts',
           type: 'GET'
       }).done(function(res) {
           var accountObj = JSON.parse(res);
           $('#accountTemplate').tmpl(accountObj).appendTo( "#accountList" );
       });
  });


   function GetKeys() {
       $.ajax({
           url: '/get_keys',
           type: 'GET',
           success: function(res) {
               var keysObj = JSON.parse(res);
               $( "#keysList" ).empty();
               $('#keysTemplate').tmpl(keysObj).appendTo( "#keysList" );
           }
       });
   }


   $(document).ready(function() {
       $.ajax({
           url: '/get_keys',
           type: 'GET'
       }).done(function(res) {
           var keysObj = JSON.parse(res);
           $('#keysTemplate').tmpl(keysObj).appendTo( "#keysList" );
       });
  });


  $(document).ready(function() {
       $.ajax({
           url: '/get_last_results',
           type: 'GET'
       }).done(function(res) {
           var tweetObj = JSON.parse(res);
           $('#tweetsTemplate').tmpl(tweetObj).appendTo( "#tweetsList" );
       });
  });


   function DeleteAccounts(elm) {
       var id = $(elm).attr('data-id');
       $.ajax({
           url: '/delete_accounts',
           data: {'id': id},
           type: 'POST',
           success: function(res) {
               var result = JSON.parse(res);
               if(result.status == 'OK') {
                   alert('Deleted');
                   GetBlogs();
               }
           }
       });
   }

   function DeleteKeys(elm) {
       var id = $(elm).attr('data-id');
       $.ajax({
           url: '/delete_keys',
           data: {'id': id},
           type: 'POST',
           success: function(res) {
               var result = JSON.parse(res);
               if(result.status == 'OK') {
                   alert('Deleted');
                   GetKeys();
               }
           }
       });
   }

   $(document).ready(function() {
       $('#del_res').click(function() {
           $.ajax({
               url: '/delete_results',
               type: 'GET'
           }).done(function(res) {
               var result = JSON.parse(res);
               if(result.status == 'OK') {
                   alert('Deleted');
                   $( "#tweetsList" ).empty();
               }
           });
       });
   });
   </script>
   {% endif %}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
   <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
{% endblock %}
