{% extends 'base.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.accounts.label }}
        {{ form.accounts(cols=32, rows=4) }}
        {% for error in form.accounts.errors %}
        <span style="color: black;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
<hr>
{% if tweeter_accounts %}
{% for t in tweeter_accounts %}
    <p>
        {{ t }}
    </p>
{{ parsed_tweets }}
{% endfor %}
{% endif %}
<button id="butt">Get the tweets!</button>
<div id="answer"></div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#butt').click(function() {
            $.ajax({
                url: '/process',
                type: 'GET'
            }).done(function(data) {
                $('#answer').text(data.output)
            });
        });
    });
</script>
{% endblock %}

